<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/librarian">Librarian Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/books">All Books</a></li>
        <li><a href="/authors">All Authors</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

<h1><%= @author.first_name()%> <%=@author.last_name() %></h1>

<% if @author.books().any?() %>

  <h3>Here are all the books by this author:</h3>

  <ul>
    <% @author.books().each() do |book| %>
      <li><a href="/books/<%= book.id() %>"><%= book.title() %></a></li>
    <% end %>
  </ul>

  <h4>Add more books for this author:</h4>

<% else %>
  <h4>There are no books yet! Add books for this author:</h4>
<% end %>

<% if @books.any?() %>
  <form action = "/authors/<%= @author.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @books.each() do |book| %>
      <div class="checkbox">
      <label>
          <input type="checkbox" name="book_ids[]" value="<%= book.id() %>"><%= book.title() %>
        </label>
      </div>
    <% end %>

     <button type="submit" class="btn btn-info btn-lg">Add Books</button>
  </form>
<% end %>


<h4>Update Author:</h4>

<form action = "/authors/<%= @author.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch" class="form-control">

  <label for="first_name">Change first name:</label>
  <input id="first_name" name="first_name" type="text" class="form-control">

  <label for="last_name">Change last name:</label>
  <input id="last_name" name="last_name" type="text" class="form-control">

  <button type="submit" class="btn btn-info btn-lg">Update</button>

</form>
<br>
<br>

<form action = "/authors/<%= @author.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger btn-lg">Delete this author</button>
</form>
</div>
