<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/librarian">Librarian Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/books">All Books</a></li>
        <li><a href="/authors">All Authors</a></li>
      </ul>
    </div>
  </div>
</nav>


<h1><%= @book.title() %></h1>

<h2><i><%= @book.subject() %></i></h2>


<% if @book.authors().any?() %>

  <h3>This book's authors:</h3>

  <ul>
    <% @book.authors().each() do |author| %>
      <li><a href="/authors/<%= author.id() %>"><%= author.first_name() %> <%= author.last_name() %></a></li>
    <% end %>
  </ul>
<% end %>

<h3>Select author(s) for this book:</h3>

<% if @authors.any?() %>
  <form action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @authors.each() do |author| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="author_ids[]" value="<%= author.id() %>"><%= author.first_name() %> <%= author.last_name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add authors</button>
  </form>
<% end %>

<h4>Update Book:</h4>

<form action = "/books/<%= @book.id %>/update" method="post">
  <div class="form-group">
  <input type="hidden" name="_method" value="patch" class="form-control">

  <label for="title">Change Title:</label>
  <input id="title" name="title" type="text" class="form-control">

  <label for="subject">Change Subject:</label>
  <input id="subject" name="subject" type="text" class="form-control">

  <button type="submit" class="btn btn-info btn-block">Update</button>
</div>
</form>

<form action = "/books/<%= @book.id %>/delete" method="post">
  <div class="form-group">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete this book</button>
</div>
</form>
